/* #about {
    background: linear-gradient(#0c0b0bda, #1f2225e7);
} */

/* .footer,
#education,
#experience,
#skills,
#projects {
    background: linear-gradient(#0a0a0ada, #17181ae7);
    background-image: linear-gradient(to bottom, rgba(42, 46, 49, 0.952), rgb(35, 39, 41));
} */